<%= form_for @gr_fileserver_content, :html => {:multipart => true} do |f| %>
  <% if gr_fileserver_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gr_fileserver_content.errors.count, "error") %> prohibited this gr_fileserver_content from being saved:</h2>

      <ul>
      <% gr_fileserver_content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <strong>File name:</strong>
    <%= @gr_fileserver_content.file_name %>
  </p>

  <p>
    <strong>File type:</strong>
    <%= @gr_fileserver_content.file_type %>
  </p>

  <p>
    <strong>File size:</strong>
    <%= number_to_human_size @gr_fileserver_content.file_size, percision: 4 %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= @gr_fileserver_content.updated_at %>
  </p>

  <% if false %>
    <p class="field">
      <%= f.label :file_content %>
      <%= f.file_field :file_content %>
    </p>
  <% end %>

  <p>
    <%= f.radio_button :file_permission, 1 , class: "with-gap" %>
    <label for="gr_fileserver_content_file_permission_1">Private</label><br />
    <%= f.radio_button :file_permission, 2 , class: "with-gap" %>
    <label for="gr_fileserver_content_file_permission_2">Public</label>
  </p>

  <button class="btn waves-effect waves-light" type="submit" name="action">Update</button>

<% end %>
