<p id="notice"><%= notice %></p>

<% if @gr_fileserver_contents.size == 0 %>
  <div class="row">
    <div class="col s12 m5">
      <div class="card-panel grey darken-1">
        <span class="white-text"><font size="4">File not exists your fileserver.
            You can upload the files using button on right buttom of screen.</font>
        </span>
      </div>
    </div>
  </div>
<% else %>

  <div class="row">
    <div class="col s12">
      <div class="card material-table">
        <div class="table-header bordered">
          <h5> <%= current_user.handle %> contents</h5>
        </div>
        <table class="table dataTable no-footer dtr-inline bordered highlight" aria-describedby="dttb_info">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Size</th>
              <th>Permission</th>
              <th>Owner</th>
              <th>Last update</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @gr_fileserver_contents.each do |gr_fileserver_content| %>
              <tr>
                <td><%= gr_fileserver_content.file_name %></td>
                <td><%= gr_fileserver_content.file_type %></td>
                <td><%= number_to_human_size gr_fileserver_content.file_size, precision: 4 %></td>
                <td>
                  <% if gr_fileserver_content.file_permission == 1 %>
                    Private
                  <% else %>
                    Public
                  <% end %>
                </td>
                <td><%= User.find(gr_fileserver_content.user_id).handle %></td>
                <td><%= gr_fileserver_content.updated_at %></td>
                <td class="right-align">
                  <%= link_to 'Show', gr_fileserver_content %>
                  <a href="/download?id=<%= gr_fileserver_content.id %>" action="<%= :download %>" >Download</a>
                  <%= link_to 'Remove', gr_fileserver_content, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<% end %>

<%= render "fixed_action_button" %>

<div class="tap-target-wrapper open">
  <div class="tap-target upload orange darken-2" data-activates="upload">
    <div class="tap-target-content">
      <h5>Start the file uploading</h5>
      <p>Any file can upload next page.</p>
    </div>
  </div>
  <div class="tap-target-wave">
    <a class="waves-effect waves-light btn btn-floating btn-large orange accent-4 tap-target-origin" href="gr_fileserver_contents/new">
      <i class="large material-icons">add</i>
    </a>
  </div>
</div>
