<p id="notice"><%= notice %></p>

<h1>Timetables</h1>

<table>
  <thead>
    <tr>
      <th>Inbound</th>
      <th>Route</th>
      <th>Hour</th>
      <th>Min</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timetables.each do |timetable| %>
      <tr>
        <td><%= timetable.inbound %></td>
        <td><%= timetable.route_id %></td>
        <td><%= timetable.hour %></td>
        <td><%= timetable.min %></td>
        <td><%= link_to 'Show', timetable %></td>
        <td><%= link_to 'Edit', edit_timetable_path(timetable) %></td>
        <td><%= link_to 'Destroy', timetable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timetable', new_timetable_path %>
