<%= form_for(ht_favorite) do |f| %>
  <% if ht_favorite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ht_favorite.errors.count, "error") %> prohibited this ht_favorite from being saved:</h2>

      <ul>
      <% ht_favorite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :route_id %>
    <%= f.number_field :route_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
