<h3>links</h3>
<%= link_to "TOP", root_path %><br />
<%= link_to "Chat Sample", chat_index_path %><br />
<%= link_to (t '.lecturers'), ikuo_sample_path %><br />
<hr />
AD space for RENT
<hr />
<h3>Chat Room</h3>
<%= render :partial => "shared/chat_room" %>
<hr />
<h3>File Server</h3>
<%= render :partial => "shared/file_server" %>
