<% if false %>
<h1>Scops Owl Project</h1>
This project is a tryout to develop the Ruby on Rails project,
for Hosei University's Web+DB lecture session. <br />
<h3> Lecture: "Web System Development by Ruby language." </h3>

This year, we aims to install "Chat", and "DropBox" helpers to apply to <br />
the "solution sharing" among the students,<br />
"Bus Delay" information <br />
and Chat web site, <br />
and the "search solution" portal <br />
for the "solution sharing" database.<br />

The folowing is the Jump index to each students Portal views
<h2><%= t 'app.entrance' %></h2>
<ul>
  <li><%= link_to (t '.lecturers'), ikuo_sample_path %></li>
  <li><%= link_to "Chat Sample", chat_index_path %></li>
  <li><%= link_to "Daizu39 portal", daizu39_index_path %></li>
  <li><%= link_to "eba's portal", eba_index_path %></li>
  <li><%= link_to (t 'Gutereise_fileserver'), guterise_fileserver_index_path %></li>
  <li><%= link_to "hitme's portal", hitme_index_path %></li>
  <li><%= link_to "okane's portal", chatrooms_path %></li>
  <li><%= link_to (t '.rh21_thread'), rh21_threads_path %></li>
</ul>
<% end %>

<div class="row">
  <div class="col s12">
    <div class="card grey darken-2">
      <div class="card-image">
        <%= image_tag "banner1.gif" %>
      </div>
      <div class="card-content white-text">
        <p class="flow-text">This project is a tryout to develop the Ruby on Rails project, for Hosei University's Web+DB lecture session.</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m6">
    <div class="card-panel blue-grey lighten-2">
      <div class="card-content">
        <h2>Lecture: "Web System Development by Ruby langage."</h2>
        <p class="flow-text">This year, we aims to install "Chat", and "DropBox" helpers to apply to the "solution sharing" among the students, "Bus Delay" information and Chat web site, and the "search solution" portal for the "solution sharing" database.</p>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card hoverable grey lighten-2">
      <div class="card-content">
        <span class="card-title"><%= t 'app.entrance' %></span>
        <div class="card-action">
          <ul>
            <li><%= link_to (t '.lecturers'), ikuo_sample_path, class: "orange-text text-accent-4"%></li>
            <li><%= link_to "Chat Sample", chat_index_path, class: "orange-text text-accent-4" %></li>
            <li><%= link_to "Daizu39 portal", daizu39_index_path, class: "orange-text text-accent-4" %></li>
            <li><%= link_to "eba's portal", eba_index_path, class: "orange-text text-accent-4" %></li>
            <li><%= link_to (t 'Gutereise_fileserver'), guterise_fileserver_index_path, class: "orange-text text-accent-4" %></li>
            <li><%= link_to "hitme's portal", hitme_index_path, class: "orange-text text-accent-4" %></li>
            <li><%= link_to "okane's portal", chatrooms_path, class: "orange-text text-accent-4" %></li>
            <li><%= link_to (t '.rh21_thread'), rh21_threads_path, class: "orange-text text-accent-4" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
