<%= form_for(smpl_chat) do |f| %>
  <% if smpl_chat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(smpl_chat.errors.count, "error") %> prohibited this smpl_chat from being saved:</h2>

      <ul>
      <% smpl_chat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
