<%= form_for(rh21_thread) do |f| %>
  <% if rh21_thread.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rh21_thread.errors.count, "error") %> prohibited this rh21_thread from being saved:</h2>

      <ul>
      <% rh21_thread.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, size: "60" %>
  </div>

  <div class="field">
    <%= f.label :subject %>
    <%= f.text_field :subject, size: "60" %>
  </div>

  <div class="field">
     <%= f.label :language_id %><br />
     <%= f.select :language_id, Rh21Language.all.collect{|c|[c.language,c.id]} %>
   </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, size: "60x3" %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-lg btn-primary"%>
  </div>
  <%= link_to 'Back', rh21_threads_path %>
<% end %>
