<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<p id="notice"><%= notice %></p>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= User.find(@rh21_thread.user_id).handle %> - <%= @rh21_thread.title %></h3>
  </div>
  <div class="panel-body">
    <%= @rh21_thread.timestamp %>
    <br />
    <%= @rh21_thread.subject %>
    <br />
    Language: <%= Rh21Language.find(@rh21_thread.language_id).language %>
    <br />
    <%= @rh21_thread.content %>
    <br />
    <!-- Quality: <%= @rh21_thread.quality %> -->
    <% if @rh21_thread.user_id == current_user.id %>
        <%= link_to 'Edit', edit_rh21_thread_path(@rh21_thread), class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>

  <% @rh21_posts.each do |rh21_post| %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= User.find(rh21_post.user_id).handle %> - <%= rh21_post.title %> <!--<%= rh21_post.id %>--></h3>
      </div>
      <div class="panel-body">
        <%= rh21_post.timestamp %>
        <br />
        <%= rh21_post.title %>
        <br />
        <%= rh21_post.content %>
        <br />
        <a href="/update_likes?post_id=<%= rh21_post.id %>" action="<%= :update_likes %>" >update_likes</a>
        <!-- <%= link_to "thumbs up", "#{update_likes}?post_id=#{@rh21_post.id}", :post_id => rh21_post.id, :method => :put, :remote => true, :action => "update_likes" %> -->
        <i class="material-icons likes">thumb_up</i><%= rh21_post.likes %> | <i class="material-icons">thumb_down</i><%= rh21_post.dislikes %>
      </div>
    </div>
  <% end %>
<br />
<%= link_to 'Reply', "#{new_rh21_post_path}?thread_id=#{@rh21_thread.id}&language_id=#{@rh21_thread.language_id}", class: "btn btn-lg btn-primary" %>
| <%= link_to 'Back', rh21_threads_path, class: "btn btn-lg btn-primary" %>

<script>
$('.likes').click(function (event) {
  // alert('You likes!');
  var dataSet = $(this).serialize();
    $.ajax({
        type: "POST",
        url: $(this).attr("action"),
        data: dataSet,
        success: function(data){
              $('#content').html(data)
        }
    });
    return false;
  event.preventDefault();
});
</script>
