<h1>Traffic Delay</h1>
<p>

</p>

<body>
    <div class="container">

    	<div id="left_time">
	  <h2>Next Bus Time</h2>
	    <% t = Time.now %>
            <% min1 = 100 %>
	    <% min2 = 100 %>
	    <% diff = 0 %>
	    <% disp_time = Time.now %>
	    <% disp_time2 = Time.now %>
	    <% @timetables.each do |timetable| %>
	      <% if timetable.inbound == 0 %>
		<% tt = Time.local(t.year,t.month,t.day,timetable.hour,timetable.min,00) %>
		<% diff = (tt -t)/(24*60*60) %>
		<% if diff > 0 && diff < min1 %>
		  <% disp_time = tt %>
		  <% min1 = diff %>
		<% end %>
    	      <% else %>
		<% tt = Time.local(t.year,t.month,t.day,timetable.hour,timetable.min,00) %>
		<% diff = (tt -t)/(24*60*60) %>
		<% if diff > 0 && diff < min2 %>
		  <% disp_time2 = tt %>
   		  <% min2 = diff %>
		<% end %>
	      <% end %>
	    <% end %>
	    Higashikoganei - Hosei<br/>
            <%= disp_time.strftime("%H:%M") %>
	    <hr/>
	    Hosei - Higashikoganei<br/>
            <%= disp_time2.strftime("%H:%M") %>
    	</div>
	<div id="favorite">
		<h2>Favorite routes</h2>
 		<table border="1">
		  <thead>
		    <tr>
		      <th>name</th>
		      <th>chatroom</th>
		    </tr>
		  </thead>
		  <tbody>
		    <% @ht_favorites.each do |ht_favorite| %>
		       <% @ht_routes.each do |ht_route| %>
		         <% if ht_route.id == ht_favorite.route_id %>
		           <tr>
		           <td><%= ht_route.name%></td>
			   <% @chatrooms.each do |chatroom| %>
                             <% if chatroom.name == ht_route.name %>
			       <td><%= link_to 'Show chatroom',"/chatrooms/"+chatroom.id.to_s %></td>
			       <% break %>
			     <% end %>
			   <% end %>
		           </tr>
			
		         <% end %>
		        <% end %>
		     <%end%>
		   </tbody>
		</table>
		</ul>
	</div>
	<div id="disp_link">
	  <%= link_to "list of train and bus", hitme_traffic_list_path %>
	</div>
 	<div id="map">
		<%= image_tag 'testmap_hitme.png', :size=>'600x300' %>
	</div>
    </div>
  <%= link_to 'ht_favorite table' , '../ht_favorites#index' %>
  </body>
