<h1>List of Train and Bus</h1>

<body>
	<div id="container">
		<div id="favorite">
			<table border="1">
			  <thead>
			    <tr>
			      <th>name</th>
			      <th>detail</th>
			      <th>chat</th>
			      <th>favorite</th>
			      <th colspan="3"></th>
			    </tr>
			  </thead>
			  <tbody>
			    <% @ht_routes.each do |ht_route| %>
 			    <tr>
			      <td><%= ht_route.name %> </td>
			      <td><%= ht_route.route_detail %> </td>
			      <% @chatrooms.each do |chatroom| %>
				<% if ht_route.name == chatroom.name %>
			          <td><%= link_to 'Show chatroom',"/chatrooms/"+chatroom.id.to_s %> </td>
				  <% break%>
                                <% end %>
			      <% end %>
			      <% flag = true %>
			      <% @ht_favorites.each do |ht_favorite| %>
			        <% if ht_favorite.route_id == ht_route.id %>
			        <td><%= form_tag("/ht_favorites/destroy/"+ht_route.id.to_s, :method => 'POST') do %> 
 			        <%= submit_tag 'Unfavorite' %>
			 	<% end %></td>
				  <% flag = false %>
				  <% break %>
				<% end %>
			      <% end %> 
			      <% if flag == true %>
			        <td><%= form_tag("/ht_favorites/create/"+ht_route.id.to_s, :method => 'POST') do %> 
 			        <%= submit_tag 'Add to favorite' %>
                              <% end %></td>
                              <% end %>
			    </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>
	</div>
  <%= link_to 'Back to top page of traffic delay',hitme_index_path %></br>
  <%= link_to 'ht_route table',ht_routes_list_path %>
</body>
