<p id="notice"><%= notice %></p>

<h1>Ik Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ik_categories.each do |ik_category| %>
      <tr>
        <td><%= ik_category.name %></td>
        <td><%= link_to 'Show', ik_category %></td>
        <td><%= link_to 'Edit', edit_ik_category_path(ik_category) %></td>
        <td><%= link_to 'Destroy', ik_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ik Category', new_ik_category_path %>
