<p id="notice"><%= notice %></p>

<h1>Eba Questions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Classname</th>
      <th>Uploaded time</th>
      <th>Answers Num</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eba_questions.each do |eba_question| %>
      <tr>
        <td><%= eba_question.title %></td>
        <td><%= eba_question.user_id %></td>
        <td><%= eba_question.classname %></td>
        <td><%= eba_question.uploaded_time %></td>
        <td><%= EbaAnswer.where(eba_question_id: eba_question.id).count%></td>
        <td><%= link_to 'Show', eba_question %></td>
        <td><%= link_to 'Edit', edit_eba_question_path(eba_question) %></td>
        <td><%= link_to 'Destroy', eba_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eba Question', new_eba_question_path %>
