<!DOCTYPE html>
<html>
  <head>
    <title>ScopsOwl</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="./materialize/css/materialize.css" rel="stylesheet" media="screen,projection" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  </head>

  <body class="gray">
    <!--<div class="container">-->
    	<div id="header">
    	  <%= image_tag "banner1.gif"  %>
    	</div>
      <%= render :partial => "shared/nav_bar" %>
      <div id="left">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
      <div id="right">
        <% if user_signed_in? %>
          <%= render :partial => "shared/scrollSpy" %>
        <% end %>
      </div>
      <div id="footer">
        <%= render :partial => "shared/page_footer" %>
      </div>
    <!--</div>-->
  </body>

</html>
