<!DOCTYPE html>
<html>
  <head>
    <title>ScopsOwl</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    	<div id="header">
    	  <%= image_tag "banner1.gif"  %>
    	  <%= render :partial => "shared/menu_bar" %>
  	  </div>
    	<div id="left">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
  	    <%= yield %>
    	</div>
    	<div id="right">
  	    <%= render :partial => "shared/right_bar" %>
    	</div>
    	<div id="footer">
  	    <%= render :partial => "shared/footer" %>
    	</div>
    </div>
  </body>

</html>
